<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<!-- Website URLs for gold rates -->
		<add key="UrlOption1" value="https://tttbullion.com/rates" />
		<add key="UrlOption2" value="https://msgold.com.my/" />

		<!-- Database connection string -->
		<add key="ConnectionString" value="Data Source=LAPTOP-NBAO3H83;Initial Catalog=GoldRatesDB;User ID=sa;Password=1234;" />

		<!-- Company names for database tables -->
		<add key="CompanyName1" value="TTTBullion" />
		<add key="CompanyName2" value="MSGold" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>